////////////////////////////////////////////////////////////////////////////////

// Color

$white:                         #ffffff !default;
$black:                         #000000 !default;

$primary:                       #e69100 !default;
$secondary:                     #6c757d !default;
$success:                       #198754 !default;
$info:                          #0dcaf0 !default;
$warning:                       #ffc107 !default;
$danger:                        #dc3545 !default;
$light:                         #f7f7f7 !default;
$dark:                          #444444 !default;

// Grid

$grid-columns:                  12 !default;
$grid-gutter-width:             .75rem !default;

// Component

$spacer:                        $grid-gutter-width;

$border-style:                  solid !default;
$border-color:                  #535353 !default;
$border-radius:                 6px !default;
$border-width:                  1px !default;

// Typography

$font-family-sans-serif:        Roboto !default; 
$font-size-base:                .8rem !default;
$font-weight-normal:            400 !default;

$line-height-base:              1.5 !default;

$body-bg:                       #2a2a2a !default;
$body-color:                    #c1c1c1 !default;

$headings-margin-bottom:        0 !default;
$headings-font-weight:          500 !default;
$headings-line-height:          1.2 !default;

$small-font-size:               .8em !default;

$text-muted:                    rgba($body-color, .5) !default;

// Link

$link-color:                    #e69100 !default;
$link-decoration:               underline !default;
$link-hover-decoration:         null !default;

// Input

$input-border-color:            $border-color !default;
$input-border-width:            0 !default;

$input-btn-focus-box-shadow:    none !default;

$btn-focus-box-shadow:          none !default;

// Modal

$modal-content-bg:              #333333 !default;
$modal-content-border-color:    $border-color !default;
$modal-content-border-radius:   $border-radius !default;
$modal-content-border-width:    0 !default;

$modal-header-padding-y:        calc($spacer / 1.5) !default;
$modal-header-padding-x:        $spacer !default;
$modal-header-border-color:     $border-color !default;
$modal-header-border-width:     0 !default;

$modal-footer-border-width:     0 !default;

// Toast

$toast-max-width:               null !default;
$toast-padding-y:               calc($spacer / 2) !default;
$toast-padding-x:               $spacer !default;
$toast-font-size:               $font-size-base !default;

// Alert

$alert-padding-y:               calc($spacer / 2) !default;
$alert-padding-x:               $spacer !default;
$alert-margin-bottom:           0 !default;

// Nav

$nav-link-padding-y:            calc($spacer / 1.5) !default;
$nav-link-padding-x:            $spacer !default;

$nav-pills-link-active-bg:      $dark !default;

$nav-tabs-border-color:         $border-color !default;
$nav-tabs-border-width:         0 !default;
$nav-tabs-border-radius:        $border-radius !default;

$nav-tabs-link-hover-border-color:  $border-color $border-color $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $border-color $border-color $nav-tabs-link-active-bg !default;

// Card

$card-bg:                       #333333 !default;
$card-spacer-y:                 calc($spacer / 1.5) !default;
$card-spacer-x:                 $spacer !default;
$card-title-spacer-y:           calc($spacer / 1.5) !default;
$card-border-width:             0 !default;
$card-border-color:             $border-color !default;
$card-border-radius:            $border-radius !default;
$card-cap-bg:                   #444444 !default;
$card-cap-padding-y:            calc($spacer / 1.5) !default;
$card-cap-padding-x:            $spacer !default;

// Dropdown

$dropdown-bg:                   #333333 !default;
$dropdown-padding-x:            0 !default;
$dropdown-padding-y:            0 !default;
$dropdown-border-color:         $border-color !default;
$dropdown-border-radius:        $border-radius !default;
$dropdown-border-width:         $border-width !default;
$dropdown-item-padding-y:       calc($spacer / 4) !default;
$dropdown-item-padding-x:       $spacer !default;
$dropdown-link-hover-bg:        $light !default;
$dropdown-link-color:           $body-color !default;
$dropdown-link-hover-bg:        #444444 !default;

// Progress

$progress-bar-transition:       none !default;

////////////////////////////////////////////////////////////////////////////////

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html, #__nuxt { width: 100%; height: 100%; overflow: hidden; }

body { width: 100%; height: 100%; overflow: hidden; }

#__layout { width: 100%; height: 100%; overflow: hidden; }

::-webkit-scrollbar { width: .35rem; height: .35rem; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: .25rem; border: 1px solid transparent; background: $dark; }

.scrollbar { height: 100%; overflow-y: auto; scrollbar-color: transparent transparent; scrollbar-width: thin; }

@keyframes flicker {
  0%   { opacity: .9; }
  50%  { opacity: .1; }
  100% { opacity: .9; }
}
@-o-keyframes flicker{
  0%   { opacity: .9; }
  50%  { opacity: .1; }
  100% { opacity: .9; }
}
@-moz-keyframes flicker{
  0%   { opacity: .9; }
  50%  { opacity: .1; }
  100% { opacity: .9; }
}
@-webkit-keyframes flicker{
  0%   { opacity: .9; }
  50%  { opacity: .1; }
  100% { opacity: .9; }
}

.flicker {
   -webkit-animation: flicker 2s infinite;
   -moz-animation: flicker 2s infinite;
   -o-animation: flicker 2s infinite;
    animation: flicker 2s infinite;
}    

.text-shadow { text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000; }

@media (min-width: 992px) { .container-lg, .container-md, .container-sm, .container { max-width: 720px; } }
@media (min-width: 1200px) { .container-xl, .container-lg, .container-md, .container-sm, .container { max-width: 720px; } }

.modal-header { background: $card-cap-bg; }
.modal-footer { padding: $modal-header-padding-y $modal-header-padding-x; }

.toast { width: auto; }

.navbar.fixed-top { height: 40px; }
.navbar.fixed-bottom { height: 50px; }

.nav-tabs.fixed-top { top: 40px; height: 35px; }

.dropdown-item { border-bottom: 1px solid $border-color; }
.dropdown-item:last-child { border-bottom: 0; }
.dropdown-item:hover, .dropdown-item:focus { color: $body-color; background-color: #444444; }

.btn-dark { color: $body-color; }
.btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus { box-shadow: none; }

////////////////////////////////////////////////////////////////////////////////
